<app-navbar></app-navbar>
<div class="container-fluid m-2">
  <div class="row justify-content-center mb-2">
    <div align="center" class="col-4" *ngIf="!recording">
      <button (click)="initiateRecording()" mat-raised-button color="primary">
        Start Recording
      </button>
    </div>

    <div align="center" class="col-4" *ngIf="recording">
      <button (click)="stopRecording()" mat-raised-button color="warn">
        Stop Recording
      </button>
    </div>
    <div class="col-4">
      <audio controls="" *ngIf="url">
        <source [src]="sanitize(url)" type="audio/wav" />
      </audio>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="products.length == 0">
    <div align="center" class="col-12">
      <h3>The products you are looking for will be here</h3>
    </div>
  </div>
  <div *ngIf="isLoading" class="spinner-wrapper d-flex justify-content-center">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
  <div class="row" *ngIf="products.length > 0">
    <div class="col-3 mb-2" *ngFor="let product of products">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ product.title }}</mat-card-title>
          <mat-card-subtitle>${{ product.price }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.imageUri" alt="Photo of a product" />
        <mat-card-content>
          <p>
            {{ product.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
